:root{
    --bs-font:"Lobster",sans-serif;
    --bs-font1:"Playpen Sans",cursive;
    --bs-font2:'Luckiest Guy', cursive;
    --bs-font3:'Anton', sans-serif;
}
.font-1{
    font-family: var(--bs-font);
}
.font-2{
    font-family: var(--bs-font1);
}
.font-3{
    font-family: var(--bs-font2);
}
.font-4{
    font-family: var(--bs-font3);
}
#header{
    background: url(../images/background/hero-1.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat:no-repeat ;
    height: 100vh;
    
}
.headerdiv{
    padding-top: 200px;
}
ul li{
    list-style: none;
}
.button {
    --offset: 10px;
    --border-size: 2px;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    border: 0;
    background: transparent;
    color: violet;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
  }
  .button:hover {
    background: rgba(100, 0, 0, 0.03);
  }
  .button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
  }
  .button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
  }
  .button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
  }
  .button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
  }
  .button:hover .button__horizontal {
    transform: scaleX(0);
  }
  .button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
  }
  .button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
  }
  .button:hover .button__vertical {
    transform: scaleY(0);
  }

#services{
    background-color: #100028;
}
#Graphics{
    background-color:rgb(22, 6, 47);
}
.graphicsimg1{
    height:232px ;
}
#team{
    background: url(../images/background/team-bg.jpg) no-repeat top center;
    background-size: cover;

}
#blog{
    background-color: #100028 ;
}
#story{
    background: url(../images/background/callto-bg.jpg) no-repeat top center;
    background-size: cover;
}
#footer{
    background-color: #100028;
}
.anchor1{
    color: white;
}
.anchor3{
    color: #adadad;
}
.button1{
    background-color: #00bfe7;
    height: 44px;
}
.btn-12 {
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
  }
  
  .btn-12:before {
    content: "";
    position: absolute;
    width: 0;
    background : #fff;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
  }
  
  .btn-12:hover:before {
    width: 100%;
    left:0;
  }
  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .btn:hover:before {
    left: 100%;
  }
  .icon-b{
    border: 3px solid violet;
  }
  p {
    color:#fff;
  }
  
  h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:#fff;
  }
  
  @media (max-width:767px) {
  h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  .intro p {
    margin-bottom:0;
  }
  
  .people {
    padding:50px 0;
    cursor: pointer;
  }
  .item {
    margin-bottom:30px;
  }
  
  .item .box {
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:280px;
    position:relative;
    overflow:hidden;
  }
  
  .item .cover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(31,148,255,0.75);
    transition:opacity 0.15s ease-in;
    opacity:0;
    padding-top:80px;
    color:#fff;
    text-shadow:1px 1px 1px rgba(0,0,0,0.15);
  }
  
  .item:hover .cover {
    opacity:1;
  }
  
  .item .name {
    font-weight:bold;
    margin-bottom:8px;
  }
  
  .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:#bbd8fb;
    letter-spacing:2px;
    font-size:13px;
    margin-bottom:20px;
  }
  
  .social {
    font-size:18px;
  }
   
  .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  .social a:hover {
    opacity:1;
  }
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 17px;
    padding: 10px;
    width: 100%;
  }
  
  .hovereffect:hover h2 {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
    transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  }
  
  .hovereffect a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: #fff;
    border: 1px solid #fff;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .hovereffect a.info:hover {
    box-shadow: 0 0 5px #fff;
  }
  
  .hovereffect .rotate {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .hovereffect hr {
    width: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .hovereffect  hr:nth-child(2) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  }
  
  .hovereffect  hr:nth-child(3) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  }
  
  .hovereffect h2, .hovereffect hr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
  }
  
  .group1, .group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
  }
  
  .group1 {
    top: 40%;
  }
  
  .group2 {
    top: 60%;
  }
  
  .hovereffect p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
  }
  
  .hovereffect p a {
    color: #fff;
  }
  
  .hovereffect p a:hover,
  .hovereffect p a:focus {
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  
  .hovereffect  a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 12px;
    font-size: 41px;
  }
  
  .group1 a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  }
  
  .group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
  }
  
  .group2 a:first-child i {
    -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  }
  
  .group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
    transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  }
  
  .hovereffect:hover hr:nth-child(2) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  }
  
  .hovereffect:hover hr:nth-child(3) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  }
  
  .hovereffect:hover .group1 i:empty, .hovereffect:hover .group2 i:empty {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) rotate(45deg) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
  .btn-last:hover{
    color: white;
    border-bottom:5px solid white;
    transition: all .6s;
    
}

@media only screen and (min-width:992px){
    .graphicsimg1{
        height: 311px;
    }
    .graphicsimg2{
        height: 311px;
    }
    .graphicsimg3{
        width: 80%;
    }
    .teamimg1{
    height: 390px;
    }
    .teamdiv1{
        margin-top: 50px;
    }
    .teamdiv2{
        margin-top: 100px;
    }
    .teamdiv3{
        margin-top: 150px;
    }
    .blogdiv1{
        height: 234px;
    }
}
@media only screen and (min-width:1440px){
   .largeimg1{
    width: 456px;
   }
   .graphicsimg1{
    height: 456px;
   }
   .graphicsimg2{
    height: 456px;
   }
   .blogdiv2{
    height: 234px;
   }
   .positioning-1{
    margin-top: 40px;
   }
   .positioning-2{
    margin-top: 80px;
   }
   .positioning-3{
    margin-top: 120px;
   }
}

