:root{
    --bs-font:'Pacifico', cursive;
    --bs-font1:"Bebas Neue", sans-serif;
    --bs-font2:'Caveat', cursive;
    --bs-font3:'Shadows Into Light', cursive;

}
.font-1{
    font-family: var(--bs-font);
}
.font-2{
    font-family: var(--bs-font1);
}
.font-3{
    font-family: var(--bs-font2);
}
.font-4{
    font-family: var(--bs-font3);
}
ul li{
    list-style-type: none;
}
.anchor1{

    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#main{
    background: url(../images/background/owl-bird-colorful-flowers-generative-ai.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position:center ;
    /* height: 100vh; */
    
}

.mainimg1{
    width: 220px; 
  
}
.mainimg2{
    height: 400px;
    width: 220px;
    
    
}
.mainimg3{
    height: 320px;
    width: 220px;
    
    
}
.mainimg4{
    height: 320px;
    width: 220px;
    
   
}
.zoneimg2{
    height: 229px;
    width: 296px;
}
.animals1{
    height: 306px;
}
#team{
    background-color: #382217;
}
.button1{
    border-radius: 200px;
    background-color: rgb(178, 93, 14);
}
.anchor2{
    text-decoration: none;
    color: orangered;
    border-radius: 100px;
    
}
#footer{
    background-color: black;
}
.anchor3{
    text-decoration: none;
    color: gray;
}
.eventimg{
    height: 60vh;
}
.teamimg{
    height: 50vh;
}
.anchor4{
    text-decoration: none;
    color: #ffffff;
}
.button {
    position: relative;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  .button.type2 {
    color: black;
  }
  .button.type2.type2:after, .button.type2.type2:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.5s ease;
    transform: scale(0.85);
  }
  .button.type2.type2:hover:before {
    top: 0;
    transform: scale(1);
  }
  .button.type2.type2:hover:after {
    transform: scale(1);
  }
@media only screen and (min-width:768px){
    .zoneimg1{
        height: 546px;
    }
    .zoneimg3{
        height: 546px;
    }
    .zoneimg2{
        height: 546px;
        width: 360px;
    }
}
@media only screen and (min-width:992px){
    .zoneimg1{
        height: 900px;
    }
    .zoneimg3{
        height: 546px ;
    }
}
@media only screen and (min-width:1440px){
    #main{
        height: 90vh;
    }

    .zoneimg2{
        height: 546px;
        width: 336px;
       
    }
    .zoneimg1{
        height: 1040px;
    }
    .positiondiv1{
        position: relative;

    }
    .mainimg1{
        position: relative;
    }
    .mainimg2{
        position:absolute;
        top: 40%;
        right: 20%;
        
    }
    
    .mainimg3{
        position: relative;
        height: 346px;
    }
    
    .mainimg4{
        position:absolute;
        top: 40%;
    right:35%;
    height: 400px;
    }
}
