:root{
    --bs-color:#8364e2;
    --bs-color1:#212428;
    --bs-color2:#403f83;
    --bs-color3:#282b2f;
    --bs-font:"Lobster",sans-serif;
    --bs-font1:"Playpen Sans",cursive;
    --bs-font2:'Luckiest Guy', cursive;
    --bs-font3:'Anton', sans-serif;
}
.color-1{
    color: var(--bs-color);

}
.font-1{
    font-family: var(--bs-font);
}
.font-2{
    font-family: var(--bs-font1);
}
.font-3{
    font-family: var(--bs-font2);
}
.font-4{
    font-family: var(--bs-font3);
}
a{
    text-decoration: none;
}
.bg-1{
    background-color: var(--bs-color);
}
.bg-2{
    background-color: var(--bs-color1);
}

.bg-3{
    background-color: var(--bs-color2);
}
.bg-4{
    background-color: var(--bs-color3);
}
.icon{
    width:10vh;
    height: 9vh;
    margin-left: 41%;
}
.accordion{
    background-color: #282936 !important;
    border: 1px solid #282936;
}

#hero{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url(../images/background/background1.jpg);
    background-size: cover;
    background-position: 50% 50%;

}
#Contact{
    background-image:  linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)),url(../images/background/background1.jpg);
    background-size: cover;
   
    background-position: 100% 100%;
}
.img-2{
    height: 306px;
}

.bord1{
    height: 50px;
    width: 50px;
    /* border: 1px solid red; */
}
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background:#8364e2;
    border-radius: 1.625rem;
  }
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  button:hover .circle {
    width: 100%;

  }
  button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
  }
  button:hover .button-text {
    color: #fff;
  }
  .btn-12 {
    text-align: center;
    display: inline-block;
    /* padding: 15px 40px; */
    cursor: pointer;
    letter-spacing: 2px;
    position:relative;
    overflow:hidden;
    margin: 0 10px;
  }
  
  .btn-12:before {
    content: "";
    position: absolute;
    width: 10px;
    background : white;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 0.7;
  }
  
  .btn-12:hover:before {
    width: 100%;
    left:0;
  }
  .form-1{
    width: 70vh;
  }